input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#registerButton.hover {
  background: #fff;
  color: #09c;
}
hr.line {
  border-top: 1px solid red;
}
.home {
  background: url('../src/images/mainimage.jpg') no-repeat center center/cover;
  position: relative;
  height: 100vh;
}
.about {
  background: url('../src/images/teacherimg.jpg') no-repeat center center/cover;
  position: relative;
  height: 100vh;
}
.Registerform {
  background-color: coral;
  margin: 30px 400px;
}
.loginForm {
  background-color: coral;
  margin: 30px 450px;
}
.courseForm {
  background-color: rgb(80, 255, 103);
  margin: 30px 400px;
}
