ul {
  list-style-type: none;
  margin: 60;
  width: 100%;

  padding: 30;
  overflow: auto;
  background-color: rgb(17, 209, 91);
}

li {
  float: left;
}

li link {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}

li link:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}
